* {
    background-color: white;  
    font-family: monospace;
    align-content: center;
}

img {
    align-content: flex-start;
}
.formInputErrorMessage {
    color: red;
}

h1 {
    font-size: 100%;
}

.formInputGroup {
    font-size: 60%;
}

.formButton {
    background-color: black;
    color: white;
}

.about {
    width: 75%;
    height: 75%
}